* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",  "JetBrains Mono";
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052C60;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

#imglogo1{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation {
    padding-left: 700px;
}

/*change !!!!! */
body {
    min-height: 100vh;
    background: url(Images/aboutbg.png);
    background-size: cover;
    background-position: center;
    text-align:50px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/*change !!!!! */
.wrapper {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 20px;               
    margin-top: 300px;
}

/*change !!!!! */
.container {
    height: 150%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Georgia;
    color: #ffffff;
    margin-top: 100px;
}

/*change !!!!! */
.container2 {
    height: 150%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Georgia;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom:50px;
}

/*change !!!!! */
.container3 {
    height: 150%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Georgia;
    color: #ffffff;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-family: Georgia;
    font-size: xx-large;
}

h1 {
    margin-top: 100px;
    margin-bottom: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: Georgia;
    color: #ffffff;
    letter-spacing: 3px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img {
    height: 80px;
    width: 80px;
    float: left;
    border: 3px solid #eeecec;
    margin-right: 15px;
    margin-top: 15px;
}

.text-box {
    display: flex;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
}

#footer1 {
    bottom: 0;
    left: 45%;
}

#h6-1{
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #ffffff;
    margin-top: 25px;
}