* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",  "JetBrains Mono";
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052C60;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

#imglogo1{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation {
    padding-left: 710px;
}

body {
    min-height: 100vh;
    background: url(Images/7.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.wrapper1 {
    position: absolute;
    top: 180px;
}

.wrapper2 {
    position: absolute;
    top: 180px;
    left: 300px;
}

.container {
    border-radius: 10px;
    background-color: #fff;
    width: 275px;
    height: 325px;
    margin: 20px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img {
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 0 8px #052C60;

    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

.btn-course {
    position: relative;
    top: 160px;
    left: 15px;
    
    color: #052C60;
    background-color: #fff;
    border: none;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    width: 160px;
}

.btn-course:hover {    
    color: #dbb419;
    background-color: #052C60;
}

#footer1 {
    position: absolute;
    left: 745px;
    bottom: 0;
}

#h6-1{
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
}