* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",  "JetBrains Mono";
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052C60;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

#imglogo1{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.body-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Images/3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.wrapper {
    margin-top: -150px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 3px solid #052C60; 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transfrom .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    background-color: rgb(255, 255, 255, 0.7);
    height: 700px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
 }

.wrapper .icon-close {
    position: absolute; 
    top: 0;
    right: 0;
    width: 45px;
    height: 45px; 
    background: #052C60; 
    font-size: 2em; 
    color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #052C60;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #052C60;
    margin: 30px 0;
}

.input-box label {
    position: absolute; 
    top: 50%;
    left: 5px;
    transform: translateY(-50%) ;
    font-size: 13px;
    color: #052C60; 
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label { 
    top: -5px; 
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;   
    border: none;
    outline: none;
    font-size: 1em;
    color: #052C60;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1. 2em;
    color: #052C60;
    line-height: 57px;
}

.input-box .toggle-password {
    position: absolute;
    right: 5px;
    top: 58%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #052C60;
}

.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #052C60;
    font-weight: 600;
    padding-left: 5px;
    appearance: none;
    cursor: pointer;
}

.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -5px;  /* same floating label effect */
}

#select-course {
    display: none;
}   

.remember-forgot { 
    font-size: 13px; 
    color: #052C60;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input { 
    accent-color: #052C60;
    margin-right: 3px;
}

.remember-forgot a { 
    color: #052C60;
    text-decoration: none;
}

.btn { 
    width: 100%;
    height: 45px;
    background: #052C60; 
    border: none; 
    outline: none;
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 1em; 
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em; 
    color: #052C60; 
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #052C60;
    text-decoration: none;
    font-weight: 600;
    margin: 25px 0 10px;
}

.login-register p a:hover {
    text-decoration: underline;
}

#welcome {
    color: #052C60;
    text-align: center;
}

#introduction {
    position: relative;
    text-align: center;
    color: #052C60;
    border: 3px solid #052C60;
    width: auto;
    height: 600px;
    font-size: 24px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin: 50px;
}

#p-Hi {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.body-2 {
    background: url(Images/4.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 5%;
}

.wrapper2 {
    max-width: 50%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  
  .wrapper2 > p,
  .wrapper2 > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper2 > h1 {
    letter-spacing: 3px;
    color: #fff;
  }
  
  .accordion {
    background-color: #fff;
    color: #052C60;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: #fff;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: #052C60;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 3px solid #052C60;
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }

.footer1 {
    display: flex;
    background-color: #052C60;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

#h6-1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
}
