* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",  "JetBrains Mono";
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052C60;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

#imglogo1{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation {
    padding-left: 710px;
}

body {
    justify-content: center;
    align-items: center;
    height: 290vh;
    background: url(Images/homebg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* change !!!!! */
.wrapper {
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
}

/* change !!!!! */
.container {
    background-color: rgb(255, 255, 255);
    width: 500;
    border: 10px solid #093ac2;
    padding: 28px;
    margin: 33px;
}

/* change !!!!! */
.h2 {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 73px;
    font-family: Georgia;
}

/* change !!!!! */
.p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: 450;
    font-size: large;
}

/* change !!!!! */
#footer1 {
    position: absolute;
    left: 45%;
    top: 2820px;
}

#h6-1{
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #000000;
    margin-top: 25px;
}

.rtu-img {
    position: absolute;
    top: 1400px;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    height: 540px;
}

.TUV-img {
    position: absolute;
    top: 1400px;
    left: 18%;
    transform: translateX(-50%);
    width: 540px;
    height: 540px;
}

.CELE-img {
    position: absolute;
    top: 1400px;
    left: 82%;
    transform: translateX(-50%);
    width: 540px;
    height: 540px;
}

.cbea-img {
    position: absolute;
    top: 2150px;
    left: 28%;
    transform: translateX(-50%);
    width: 800px;
    height: 500px;
}

.riztech-img {
    position: absolute;
    top: 2150px;
    left: 72%;
    transform: translateX(-50%);
    width: 800px;
    height: 500px;
}