* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",  "JetBrains Mono";
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb {
    background: #032046;
    border-radius: 50px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052C60;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

#imglogo1{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation {
    padding-left: 710px;
}

body {
    min-height: 150vh;
    background: url(Images/servicebg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup:hover {
    background: #fff;
    color: #052C60;
}

.navigation-2 .btnLogin-popup {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.wrapper {
    color: #000000;
    justify-content: center;
}
.wrapper2 {
    width: 50%;
    color: #000000;
    position:absolute;
    left: 27%;
    top: 940px;
}

.wrapper h1 {
    font-family: 'Georgia';
    position:absolute;
    color: #0a2b85;
    left: 42%;
    top: 300px;
}

.wrapper2 h1 {
    display: flex;
    color: #0a2b85;
    font-family: Georgia;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image1 {
    height: 200px;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 100%;
    position: absolute;
    left: 20%;
    top: 430px;
}

.image {
    height: 200px;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 100%;
    position: absolute;
    left: 70%;
    top: 626px;
}

.text-box1 {
    color: #080808;
}

.text-box1 h2 {
    font-size: 50px;
    color: #0a2b85;
    font-family: Georgia;
    margin-bottom: 10px;
    position: absolute;
    left: 33%;
    top: 440px;
}

.text-box1 p {
    font-size: 22px;
    width: 900px;
    position: absolute;
    left: 33%;
    top: 525px;
}

.text-box {
    color: #050404;
}

.text-box h2 {
    font-size: 50px;
    font-family: Georgia;
    color: #0a2b85;
    margin-bottom: 10px;
    position: absolute;
    left: 42.5%;
    top: 645px;
}

.text-box p {
    font-size: 22px;
    font-family: Montserrat;
    position: absolute;
    width: 900px;
    left: 21%;
    top: 725px;
}

#footer1 {
    position: absolute;
    left: 45%;
    top: 1430px;
}

#h6-1{
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #000000;
    margin-top: 25px;
}

.rtulogo-img {
    position: absolute;
    left: 51%;
    top: 150px;
    width: 80px;
}